@model NewActivity

<h2>Create an Activity!</h2>
<form asp-action="btAddAct" asp-controller="Home" method="POST">
    <div>
        <span asp-validation-for="Title"></span>
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <input asp-for="Title" >
    </div>
    <div>
        <span asp-validation-for="ActDate"></span>
        <label asp-for="ActDate" class="col-sm-2 col-form-label"></label>
        <input min=@ViewBag.datetime type="date" asp-for="ActDate" >
    </div>
    <div>
        <span asp-validation-for="Time"></span>
        <label asp-for="Time" class="col-sm-2 col-form-label"></label>
        <input placeholder="Example 1:00 PM" asp-for="Time" >
    </div>
    <div>
        <span asp-validation-for="Duration"></span>
        <label asp-for="Duration" class="col-sm-2 col-form-label"></label>
        <input type="number" asp-for="Duration" >
        <select name="dura" >
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
        </select>
    </div>
    <div>
        <label asp-for="Description"></label><br>
        <span asp-validation-for="Description"></span><br>
        <textarea asp-for="Description"></textarea>
    </div>
    <input type="hidden" value="@ViewBag.UserId" asp-for="UserId">
    <input type="submit" class="button-primary" value="Create Activity">
</form>